/*===== Nav =====*/
nav {
	background: $color-secondary;
	& .nav-link:hover {
		color: $color-secondary;
		background-color: $color-primary;
	}
}

/*===== About Me =====*/
.parallax-container {
	@include padding-sections (7%, 3%);
	@include opacity;
	h1 {
		@include titulos (bold, $color-primary, Raleway, capitalize);
	}
	p {
		@include parrafos (1.3em, $color-primary, Raleway);
	}	
	hr {
		@include line (20%, 3px solid $color-primary);
	}
}


/*===== Quotes =====*/
.pad {
	@include padding-sections (3%, 3%);
}
.img-des {
	@include img (80%, auto);
}

h3 {
		@include titulos (bold, $color-secondary, Raleway, capitalize);
		text-align: left;
	}
	p {
		@include parrafos (1em, $color-secondary, Raleway);
		text-align: left;
	}
	hr {
		@include line (20%, 3px solid $color-secondary);
		margin-left: -0.5%;
	}
.media {
	margin-bottom: 5%;
	i {
		display: inline;
	}
	p {
		display: inline !important;
		@include parrafos (0.9em, $color-text-principal, Raleway);
	}
}

/*===== Hide and Seek =====*/
.s-video {
	h3 {
		@include titulos (bold, $color-primary, Raleway, capitalize);
		text-align: left;
	}
	p {
		@include parrafos (1em, $color-primary, Raleway);
		text-align: left;
	}
	hr {
		@include line (20%, 3px solid $color-primary);
		margin-left: -0.5%;
	}
}

/*===== Me Define =====*/
.col-pd {
	@include no-padding("left");
	@include no-padding("right");
	@include no-padding("top");
	@include no-padding("bottom");
}
.img-def {
	@include img (100%, auto);
	& :hover {
		filter: grayscale(100%);
	}
}


/*===== Footer =====*/
footer {
		background-color: $color-primary !important;
		h3 {
		@include titulos (bold, $color-text-principal, Raleway, capitalize);
		text-align: left;
		}
		p {
			@include parrafos (1em, $color-text-principal, Raleway);
			text-align: left;
		}
			/* label color */
	   .input-field label {
	     color: #000;
	   }
	   /* label focus color */
	   .input-field input[type=text]:focus + label {
	     color: #000;
	   }
	   .input-field textarea[id=textarea1]:focus + label {
				color: #000;
	   }
	   /* label underline focus color */
	   .input-field input[type=text]:focus {
	     border-bottom: 1px solid #000;
	     box-shadow: 0 1px 0 0 #000;
	   }
	   .input-field textarea[id=textarea1]:focus {
	     border-bottom: 1px solid #000;
	     box-shadow: 0 1px 0 0 #000;
	   }
	   /* valid color */
	   .input-field input[type=text].valid {
	     border-bottom: 1px solid #000;
	     box-shadow: 0 1px 0 0 #000;
	   }
	   /* icon prefix focus color */
	   .input-field .prefix.active {
	     color: #000;
	   }
		.footer-copyright {
			background-color: $color-secondary !important; 
			p {
				padding-bottom: 1%;
				@include parrafos (1em, $color-primary, Raleway);
				text-align: center;
			}
		}
}
